h1{
	font-size:medium;
}
h2{
	font-size:small;
}
h3{
	font-size:smaller;
}
h4{
	font-size:x-small;
}
h5{
	font-size:xx-small;
}
h3.date{
	font-style: italic;
}
.well{
	background-color: white;
}
legend.header{
	font-size:small;
	color:black;
	background-color: white;
}