		body {
			background: #000;
			font-family: "Avenir Next W01", "Avenir Next", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
			color: #fff;
		}
		a{
		 	color: #fff;
		}
		a:hover{
		 	color: #ccc;
		 	text-decoration:none;
		}
		ul{
			list-style: none;
			display: block;
		}
		.logo{
			float: left;
		}
		.logo img{
			display: block;
			width: 200px;
		}
		.header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 20;
			padding: 20px 0;
			background: #000;
		}
		.header li a {
			font-size: 12px;
			margin-top: -4px;
			font-weight: 600;
		}
		.header nav{
			display: block;
		}
		.header li{
			display: inline-block;
		}
		.header .toggle {
			display: none;
			color: #fff;
			font-size: 32px;
			border: 0;
		}
		.upper{
			text-align: center;
			padding: 130px 0 130px;
		}
		.pad-content{
			padding-top: 30px !important;
			padding-bottom: 30px;
		}
		.navbar-inverse{
			background:none;
		}
		.peeps li{
			margin-left: 10px !important;
			margin-bottom: 20px;
			text-align:center;
		}
		.peeps li img{
			width:120px;
			display:block;
		}
		.pic-cell{
			width:180px;
			margin-bottom: 50px;
		}
		#myNavbar{
			float:right;
		}
